

table{
    border-collapse: collapse;

    // table-layout: fixed;
    width: 100%;
}



thead{
    background-color: #aaa;
}

th div{
    overflow: hidden;
    text-overflow: ellipsis
}

td{
    overflow: auto;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 200px;
}

td:has(audio) {
    max-width: 500px;
}

tbody td{
    padding: 10px;

}

tbody td:has(img) {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

td img {
    width: 120px;
    height: 120px;

}



tbody tr:nth-child(odd) {
    background-color: #d6d6d6;
    
}




tbody tr:nth-child(even) {
    background-color: #aaa;
}

