.overlay{
    background-color: rgba($color: #000, $alpha: 50%);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    width: 50%;
    max-width: 400px;
    background:transparent;
}


@media only screen and (width <= 750px) {
    .panel{
        width: 100%;
        background:transparent;
    }
}
  